.calendar {
  width: 100%;
}
.header {
  background-color: #3d3dca;
  color: white;
}
.month-description {
  background-color: #e2dddd;
}
.date-box {
  width: 14.28%;
  height: 30px;
  background-color: #cccccc;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: #60dc60;
}
.grey {
  background-color: #c7c2c2;
}